*{
    margin: 0;
    padding: 0;
}

.header nav{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    margin: 10px;
}

.header nav{
    background-color: rgba(6,19,28,255);
    width: 100%;
    height: 55px;
}

.header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(167, 162, 162);
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header nav a:hover{
    color: white;
}

.header nav li{
    margin: 19px;
    list-style: none;
    display: inline-block;
}

.container-article{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    align-items: center;
}

.container-article h3{
    font-size: 40px;
}

.container-article p{
    margin: 20px;
    width: 55%;
    letter-spacing: 1px;   
}


figcaption h3{
    font-weight: bold;
    letter-spacing: 2px;
}

figcaption p{
    color: rgba(0, 0, 0, 0.6);
}

.container-figure{
    display: flex;
    justify-content: space-evenly;
}

.container-section4{
    display: flex;
    justify-content: center;

}

.contentSection4{
    margin-top: 80px;
    height: 600px;
    width: 70%;
    background-color: rgba(0,61,82,255);
    background-image: url(./imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
}

.menuDesktop{
    visibility: hidden;
}

.contentSection4 h3{
    text-align: start;
    margin: 80px;
    font-size: 50px;
}


.contentSection4 p{
    text-align: start;
    margin: 80px;
}

.contact{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.map{
    display: flex;
    justify-content: center;
}

.footer{
   display: grid;
   place-items: center;
    margin-top: 40px;
    height: 40px;
    background-color: rgba(6,19,28,200);
    color: rgb(134, 134, 134);
    font-family: Courier, monospace;
}

input{
    visibility: hidden;
}

/*Menu Mobile/Hamburguer*/
@media only screen and (max-width: 650px){

    .container-figure{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .figures{
        margin-top: 30px;
    }

    .figures h3{
        text-align: center;
    }
    .figures p{
        text-align: center;
    }

    .contentSection4{
        height: 400px;
    }

    .contentSection4 h3{
        font-size: 25px;
        text-align: left;
        margin: 10px;
    }

    .contentSection4 p{
        font-size: 10px;
        text-align: left;
        margin: 0;
    }

    .container-section4{
        width: 100%;
    }
    
    .map{
        width: 80%;
        margin: 40px;
    }
    input{
        visibility: visible;
    }
    
    .menu__box-mobile{
        visibility: visible;
    }

    .hamburger-menu{
        visibility: visible;
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: rgba(6,19,28,255);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: rgb(139, 136, 136);
        border-radius: 50%;
      }
}
  