*{
    margin: 0;
    padding: 0;
}

.header nav{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    margin: 10px;
}

.header nav{
    background-color: rgba(6,19,28,255);
    width: 100%;
    height: 55px;
}

.header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(167, 162, 162);
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header nav a:hover{
    color: white;
}

.header nav li{
    margin: 19px;
    list-style: none;
    display: inline-block;
}

.container-article{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    align-items: center;
}

.container-article h3{
    font-size: 40px;
}

.container-article p{
    margin: 20px;
    width: 55%;
    letter-spacing: 1px;   
}


figcaption h3{
    font-weight: bold;
    letter-spacing: 2px;
}

figcaption p{
    color: rgba(0, 0, 0, 0.6);
}

.container-figure{
    display: flex;
    justify-content: space-evenly;
}

.container-section4{
    display: flex;
    justify-content: center;
   
 
}

.contentSection4{
    margin-top: 80px;
    height: 600px;
    width: 70%;
    background-color: rgba(0,61,82,255);
    background-image: url(./imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
}

.contentSection4 h3{
    text-align: start;
    margin: 80px;
    font-size: 50px;
}


.contentSection4 p{
    text-align: start;
    margin: 80px;
}

.contact{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}